aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
elgato
frozenlist
idna
multidict
pydantic
python-dateutil
requests
six
toml
twitchAPI
typing_extensions
urllib3
websockets
yarl
